
*{
box-sizing:border-box;
}
.container{
    width:1170px;
    margin:0 auto;
}
.image1 {
    position: relative;
    padding:15px;
max-width:33%;
float:left;
margin-top:30px;

}

.image2  {
    position: relative;
padding:15px;
    max-width:33%;
    float:left;
    margin-top:30px;
    
}
.image3 {
    position: relative;
    padding:15px;
    max-width:33%;
    float:left;
   margin-top:30px;
    
}
  .image1 img{
      
      max-width:100%;
      border-radius:6px;
      background: #00000054;
  }
  .image2 img{
      max-width:100%;
      border-radius:6px;
  }
  .image3 img{
  max-width:100%;
  border-radius:6px;
  }
  h1{letter-spacing:2px;
      font-size:45px;
      font-family: 'Montserrat', sans-serif;
      font-color:#0b1f3a;
      padding:6px;
      margin-top:15px;
  }
  p{  position:absolute;
      padding:7px;
      font-size:13px;
      color:white;
      background-color:#3146cb;
      right:140px;
      text-align:center;
      font-family:'Montserrat', sans-serif;
      top:230px;
      font-style:normal;
      letter-spacing:1px;
      
     
    }
    h2{margin-top:15px;
        color:#0b1f3a;     
        font-size:15px;
        padding:10px;
        letter-spacing:2px;
    }
h3{position:absolute;
    color:white;
    font-size:30px;
    bottom:80px;
    right:100px;
    
}
b{font-weight:bold;

}