.container{
    width:1200px;

}
.bg-light{
    background-color:#901fb5 !important;
}

#start{
    position: relative;
}
#start .container .row .col-8 .title{
    position: relative;
    top:200px;
    justify-content: start;
    font-size:15px;
}
#start .container .row .col-8 .title h1{
    font-size:60px;
}
#start .container .row .col-4 img {
    max-width:100%;
    position: relative;
    top:100px;
 justify-content:end;
    
}
#second .container .title{
    text-align:center;
    margin-top:150px;
    margin-bottom:100px;
 }
 #second .container .row .feature-item{
     padding:50px 30px;
    position: relative;
    box-shadow:0px 10px 30px 0px rgba(0, 0, 0, 0.08);
    border-radius:5px;
 }
 #second .container .row .feature-item .content{
line-height:25px;

 }
 #second .container .row .feature-item .logo{
     margin-bottom:30px;
 }
 header .navbar a img{
     position: absolute ;
     left:100px ;
     top:8px;

 }

